*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

body {
    background: grey;
}

.start-btn, 
.info-box,
.quiz-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

/* Start Quiz Button */
.start-btn button {
    font-size: 25px;
    font-weight: 500;
    color: White;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 3px;
    background: coral;
    cursor: pointer;
}

.info-box {
    display: none;
    width: 540px;
    background: whitesmoke;
    border-radius: 3px;
}

.info-box .info-title {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}
.info-box .info-list {
    padding: 15px 35px;
}

.info-box .info-list .info {
    margin: 5px 0;
    font-size: 15px;
}

.info-box .info-list .info span {
    font-weight: 600;
    color: coral;
}

.info-box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid grey;
}

.info-box .buttons button {
    margin: 0 3px;
    height: 40px;
    width: 100px;
    border: 1px solid coral; 
    border-radius: 3px;
    color: grey;
    font-size: 16px;
    font-weight: 500px;
    cursor: pointer;
}

.buttons button.exit:hover {
    background-color: coral;
    color: white;
}

.buttons button.continue {
    background-color: coral;
    color: white;
}

.buttons button.continue:hover {
    background-color: rgb(246, 107, 57);
}

.quiz-box {
    width: 550px;
    background: white;
    border-radius: 3px;
}

.quiz-box header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz-box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz-box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: lightgray;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 0 8px;
}

.quiz-box header .timer .time-text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz-box header .timer .timer-sec {
    font-size: 18px;
    font-weight: 700;
    background: black;
    height: 30px;
    width: 45px;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.quiz-box section {
    padding: 25px 30px 20px 30px;
    background: white;
}

.quiz-box section .que-text {
    font-size: 25px;
    font-weight: 600;
}

.quiz-box section .option-list {
    padding: 20px 0;
    display: block;
}

section .option-list .option {
    background: rgb(227, 186, 171);
    border: 1px solid coral;
    border-radius: 3px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.option-list .option:last-child {
    margin-bottom: 0px;
}